{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="/js/show.js"></script>

<span id="nickname" style="display: none">{{ nickname }}</span>

<div class="contentbox" id="document">
	<span id="document_id" style="display: none">{{document_id}}</span>
	<h2 id="title">{{document_title}}</h2>
	<div id="text">{{document_content}}</div>
</div>

<div class="contentbox" id="commentary">
	<h2>Commentary</h2>
	{{commentary}}
	{% if nickname %}
	<p><a href="#" id="upload_comment_form_label">Upload Comments</a></p>
	<form id="upload_comment_form" action="/comment" enctype="multipart/form-data" method="post">
		<input type="hidden" name="doc_key" value="TBA" />
	    File: <input type="file" name="commentary"/> <br/>
	    <input type="submit" value="Upload">
	</form>
	{% endif %}
</div>

<div class="contentbox" id="vocabulary">
	<h2>Vocabulary</h2>
	{% if nickname %}
	<p><a href="#" id="upload_vocab_form_label">Upload Vocabulary</a></p>
	<form id="upload_vocab_form" action="/vocabulary" enctype="multipart/form-data" method="post">
		<input type="hidden" name="doc_key" value="TBA" />
	    File: <input type="file" name="vocabulary"/> <br/>
	    <input type="submit" value="Upload">
	</form>
	{% endif %}
</div>

<div class="contentbox"  id="sidebar">
	<h2>Sidebar</h2>
	{% if nickname %}
	<p><a href="#" id="upload_sidebar_form_label">Upload Sidebar</a></p>
	<form id="upload_sidebar_form" action="/sidebar" enctype="multipart/form-data" method="post">
		<input type="hidden" name="doc_key" value="TBA" />
	    File: <input type="file" name="sidebar"/> <br/>
	    <input type="submit" value="Upload">
	</form>
	{% endif %}	
</div>


{% endblock %}